.registerParent{
    margin-top: 3%;
    /* border:2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registerinner{
    /* border:2px solid black; */
    display: flex;
    width:24vw;
    flex-direction: column;
    text-align: left;

}
.text2,.text{
    width:100%;
    /* background-color: rgb(112, 43, 197); */
    font-size: 16px;
    color:white;
    height: 8vh;
    color:black;
    font-weight: bold;
    
}
.forget,.nextpage{
    color: rgb(112, 43, 197);
}
.Submitbutton{
    width:100%;
    background-color: rgb(112, 43, 197);
    font-size: 20px;
    color:white;
    height: 6vh;
    
}