.developmentNav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 2vw;
    height: 7vh;
    background-color: rgb(245, 248, 251);
}
.developroute{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:10vw; */
    font-weight: bold;
    /* border: 2px solid black; */
    /* color:black; */
}
.fa-chevron-right{
    font-size: 50px;
    /* border: 2px solid black; */
    color:lightgray;
}

/* media :mobile view */
@media screen and (min-width:300px) and (max-width:667px) {
    .developmentNav{
        display: none;
    }
    .developroute{
        font-weight: bold;
    }
    .fa-chevron-right{
        font-size: 50px;
        color:lightgray;
    }
    
}