.web_parent{
    /* border:2px solid black; */
    margin-top: 3%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 56vh;
}
.web_div{
    width:80%;
    border-bottom:2px solid gray;
    display: flex;
    row-gap:3vw;
    flex-direction: column;
}
.web_headingfirst{
    font-family: 'Times New Roman', Times, serif;
}
.web_mostpopular{
    display: flex;
    flex-direction: row;
    width:30%;
    column-gap: 2vh;
    line-height: 5vh;
    

}
.mostpopular{
    border-bottom: 2px solid black;
    color:black;
    font-weight: bold;
}
/* 4 cards */
.web_cardrow1{
    display: flex;
    width:80%;
    /* border: 2px solid gray; */
    min-height: 56vh;

}
.web_cardParent1{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    height: auto;
    /* border: 2px solid lightgray; */

}
.web_cardContainer2{
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(176, 176, 180); */
}
.web_singleCard1{
    /* border: 2px solid blue; */
    width:18vw;
    min-height: 30vh;
    position:relative;
    border-radius: 18%  solid white;   
}
.web_card1{
    width:100%;
    height: 24vh;
    border:1px solid gray;
    /* background-color: rgb(227, 234, 239); */
}
.web_card1 img{
    width:100%;
    height: 100%;
    /* border:3px solid gray; */
}
.web_cardhover1 ,.web_cardhover2 , .web_cardhover3 , .web_cardhover4{
    
    display: none;
}
.web_singleCard1:hover .web_cardhover1  {

    display: flex;
    flex-direction: column;
    width:25vw;
    border:10px solid white;
    min-height:20vh;
    row-gap: 1vw;
    position:absolute;
    left:100%;
    top:-20%;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(224, 222, 222);
    z-index:4;

}
.web_singleCard1:hover .web_cardhover2{
    
    display: flex;
    flex-direction: column;
    width:28vw;
    border:10px solid white;
    min-height:20vh;
    row-gap: 1vw;
    position:absolute;
    left:100%;
    top:-20%;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(224, 222, 222);
    z-index:4;

}
.web_singleCard1:hover .web_cardhover3{
    
    display: flex;
    flex-direction: column;
    width:25vw;
    border:10px solid white;
    min-height:20vh;
    row-gap: 1vw;
    position:absolute;
    right:100%;
    top:-30%;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(224, 222, 222);
    z-index:4;

}
.web_singleCard1:hover .web_cardhover4{
    
    display: flex;
    flex-direction: column;
    width:25vw;
    border:10px solid white;
    min-height:20vh;
    row-gap: 1vw;
    position:absolute;
    right:100%;
    top:-20%;
    background-color: white;
    /* box-shadow: 5px 5px 10px rgb(224, 222, 222); */
    z-index:4;

}
.web_carddetails{
    width:94%;
    text-align: left;
    line-height: 3vh;
}
.web_cardheading{
    font-size: 16px;
    font-weight: bold;
}
.fa-indian-rupee-sign,
.web_cardpreviousPrice{
    text-decoration: line-through;
}
.web_cardhover .web_heading{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.web_cardhover .web_updated{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1vh;
    width:70%;
    line-height: 4vh;
}
.web_cardhover .web_bestseller{
    color: black;
    background-color: rgb(212, 212, 51);
    text-align: center;
    width:8vw;
    height: 5vh;
}
.web_cardhover .web_updatedtext{
    font-size: 14px;
    color:green;
    
}
 .web_updatedate{
    font-size: 13px;
    color:darkgreen;
    font-weight: bold;
    width:40%;
   
}
.web_totalhrs{
    width:100%;
    text-align: left;
    /* border:2px solid black; */

}
.web_aboutparent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

 
}
.web_about{
    text-align: left;
    width: 100%;
 
}
.web_points{
    display: flex;
    flex-direction: column;
    text-align: left;
    width:90%;
    row-gap: 1vw;
}
.web_pointOne , .web_pointtwo , .web_pointthree{
    display: flex;
    flex-direction: row; 
}
.web_hoveraddtocart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.web_addtocartbutton{
    color:white;
    font-size: 16px;
    width:70%;
    height: 6vh;
    background-color: rgb(147, 45, 202);
}
.web_wishlist{
    width:3vw;
    height: 6vh;
    border-radius: 60%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:black ;
    background-color: gainsboro;
   
}
.fa-regular fa-heart{
   font-size: larger;
  
}

/* row Parent */
.rowouter{
    width: 100%;
    border:2px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowParent{
    display:flex;
    flex-direction: row;
    /* border:2px solid black; */
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width:80%;
    
}
.columnone{
    display: flex;
    width:26%;
    justify-content: center;
    align-items: center;
    text-align: left;
    column-gap: 2vh;
}
.web_text{
    font-weight: bolder;
    font-size: 14px;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* popular topic */
.tablecontainer {

/* border:2px solid gray; */
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 2vw;
margin-top: 5%;;

}
.populartopics{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border:2px solid gray; */
    flex-wrap: wrap;
}
.populartopics div{
    width:14%;
    border:2px solid lightgray;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.tablecontainer h1  {
    width:80%;
    text-align: left;

}


/* popular instructor */
.popularInstructor  , .AllWebDevelopment {
    display: flex;
    flex-direction: column;
    /* width:100%; */
    /* border: 2px solid black; */
    align-items: center;
    row-gap: 1vw;
}
.popularInstructor h1 , .AllWebDevelopment h1{
    text-align: left;
    width: 80%;
    margin-top: 3%;
    
}

.card_divouterrow{
    display: flex;
    flex-direction: row;
    width:80%;
    justify-content: space-between;
    align-items: center;
    
}
.card_divrow{
    display: flex;
    flex-direction: row;
    width:24%;
    border: 2px solid lightgray;
    height: 20vh;
    align-items: center;
    justify-content: space-evenly;
}
.card_divrow .imgparent img{
    width:70px;
    height:70px;
    border-radius: 50%;
}
.instructor_review{
    display: flex;
    flex-direction: column;

}
.instructor_review b{
    color: black;
}
/* All Web Development courses  */
.alert_div  {
    display: flex;
    flex-direction: row;
    width:80%;
    border: 2px solid black;
    height: 8vh;
    align-items: center;
    column-gap: 2vh;
    text-transform:lowercase;
    font-size: 18px ;
    font-weight: bold;
    
}
.alert_icon{
    font-size: 30px;
    width:5%;
}
.alert_div span{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* filter row */
.filter_parent{
    display: flex;
    flex-direction: column;
    width:100%;
    /* border: 2px solid black; */
    align-items: center;
    margin-top: 2%;
}
.filter_row{
    display: flex;
    flex-direction: row;
    width:80%;
    height: 8vh;
    align-items: center;
    column-gap: 2vh;
    text-transform:lowercase;
    font-size: 18px ;
    font-weight: bold;
    
}
.filter_row .result{
   width:60%;
   /* border: 2px solid gray; */
   text-align: right;
}
.filter_row{
    width:80%;
    /* border: 2px solid black; */
}
.filter_row div{
    width: 60%;
    display: flex;
    flex-direction: row;
    column-gap: 2vh;
}
.filter_row div .filter{
    height: 8vh;
    width: 20%;
    background-color: white;
    border: 2px solid lightgray;
}
.sort{
    width:30%;
    height: 8vh;
    line-height: 4vh;
    background-color: white;
    border: 2px solid lightgray;
    text-align: left;
}

/* Rating */

.webcardcontainer_parent{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid gray; */
    margin-top:3%;  
    width:100%;
}
.webinnerCover{
    display: flex;
    /* justify-content: ; */
    align-items: center;

    /* border:2px solid red; */
    
}
.webcardcontainer{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.rating_div_coloumn{
    width:30%;
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    border:10px solid white;
}
.rating_div_coloumn .textrating{
    display: flex;
    width:98%;
    border:2px solid black;
    font-size: 20px ;
    color: black;
    font-weight: bold;
}
.upangleicon{
    width:100%;
    text-align: right;
}
.rating_div_row_parent{
    display: flex;
    flex-direction: column;
    width:95%;
    row-gap: 1vw;
}
.rating_div_row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
}
.rating_div_row .star{
    /* border: 2px solid orange; */
    color:rgb(181, 142, 70);
}
.rating_div_row b{
    color: rgb(144, 143, 143);
}
.webcardparent , .webcardlast{
    display: flex;
    flex-direction: column;
    width:100%;
   
    /* border:10px solid rgb(175, 74, 74); */
}
.webcard_row{
    /* width:90%; */
    border-bottom:2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    column-gap: 4vh;
    
}
.webimg{
    width:25vw;
    border:10px solid white;
    height: auto;

}
.webimg img{
    width:100%;
    height: 96%;
    border:10px solid rgb(254, 253, 253);
}

.webcarddetail{
    width:80%;
    border:10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* row-gap: 2vw; */
    
}
.webcarddetail .row1 {
    width:90%;
    display: flex;
    justify-content: space-between;
    
}
.webcarddetail .row1 span
{ 
    font-size: 18px;
    font-weight: bold;
    color:black;
}
.ratingtext , .totalhrs{
   
    font-size:14px;
}
.ratingtext{
    color:black;
    font-weight: bold;
}
.webcarddetail .rating{
    color:orange;
}
.bestseller{
    background-color: rgb(225, 225, 164);
}
/* .row2{
    width:28%;
    border:2px solid black;
} */
.webcardhovercontainer{
    border:10px solid white;
    width:28vw;
}
.webcardhover{
    width:26vw;
    /* min-height: 40vh; */
    display: none;
    position: absolute;
    bottom:28vh;
    left: 40%;
    z-index: 4;
    background-color: white;
}
 .webcard_row:hover  .webcardhover{
    display: block;
    
 }
 .wedcardhoverdetail{
    display: flex;
    flex-direction: column;
    border:1px solid lightgray;
    border-radius: 1%;
    row-gap: 2vw;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;

 }
 .keypoint{
    text-align: left;
    font-size: 14px;

 }
 .webpoints{
    display: flex;
    flex-direction: row;
    column-gap: 3vh;
 }
 .webhoveraddtocart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%
    /* align-items: center; */
}
.webaddtocartbutton{
    color:white;
    font-size: 16px;
    width:18vw;
    height: 6vh;
    background-color: rgb(147, 45, 202);
}
.webwishlist{
    width:3vw;
    height: 6vh;
    border-radius: 50%;
    border: 2px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:black ;
   
}
.fa-regular fa-heart{
    font-size: larger;
 }

 .webcardparent .ads{
    width:100%;
    height: 30vh;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2vh;

 }
 .ads .row1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .ads div h2{
    font-family: 'Times New Roman', Times, serif;
 }
 .ads .iconparent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3vh;
    /* justify-content: space-evenly; */
 }

 /* media :mobile view */
@media screen and (min-width:300px) and (max-width:667px) {
    .rating_div_coloumn{
            display: none;
    }
    .web_headingfirst{
        font-size: 24px;
        text-align: center;
        
    }
    .web_div h3{
        font-size: 22px;
        text-align: center;
        display: none;
    }
    .web_mostpopular{
        width:100%;
        margin-top: 5%;
        /* text-align: center; */
        /* border:2px solid rgb(141, 45, 45); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .web_cardrow1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid gray; */
        row-gap: 5vw;
        width:100vw;
    }
    .web_cardParent1{
        width:70%;
    }
    .web_cardContainer2{
        display: flex;
       
    }
    .web_singleCard1{
        /* border:2px solid rgb(141, 45, 45); */
        width:100%;
        row-gap: 3vw;
    }
    .web_card1{
        width:100%;
    }
    .web_carddetails{
        width:100%;
    }
    .web_cardheading , .web_cardname, .web_cardrating , .web_cardprice{
        font-size: 14px;
    }
    .rowParent{
       
        display: none;
    }
    
    .populartopics{
        width:90%;
    }
    .populartopics div{
        width:16%;
        font-size: 12px;
    }
    .tablecontainer  h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   


    .popularInstructor h1{
        width: 100%;
        text-align: center;
    }
    .card_divouterrow{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* border:2px solid red; */
    }
    .card_divrow{
        width:80%
    }
    .instructor_review{
        width:90%;
    }
    .AllWebDevelopment{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .AllWebDevelopment h1{
        width:80%;
        /* border:2px solid red; */
        font-size: 20px;
    }
    .filter_parent{
        width:100%;
        /* border:2px solid red; */
    }
    .filter_row div .sort , .filter{
        width:100%;
        font-size: 12px;
    }
    .webcardcontainer{
        /* border:2px solid rgb(109, 103, 103); */
        width:100vw;
        
    }
    .webcardparent{
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 5vw;
    }
    .webcard_row{
        flex-direction: column; 
         display: flex;
        justify-content: center;
        align-items: center;
        /* border:2px solid rgb(109, 103, 103); */
        width:90%;
        row-gap: 4vw;
    }
    .webcarddetail{
        /* border:2px solid rgb(198, 190, 190); */
        width:84%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .webcarddetail .row1{
        /* border:2px solid rgb(109, 103, 103); */
        width:100%;
        display: flex;
        justify-content: space-between;

    }
    .webcarddetail .row1 .heading{
        font-size: 20px;
    }
    .webcarddetail .row1 .price{
        color:blue;
    }
    .webimg{
       width:100%;
       border:2px solid white;
    }
    .webimg img{
        /* border: 2px solid gray; */
        width:90%;
    }
   
    .webcarddetail .row1 .heading{
        font-size: 15px;
        /* border:2px solid rgb(109, 103, 103); */
    }
    .price{
        color:blue;
    }
    .webcardlast{
        justify-content: center;
        align-items: center;
    }
}
 
 /* media :tab view */
 @media screen and (min-width:668px) and (max-width:1180px) {
    .rating_div_coloumn{
        display: none;
}
.web_headingfirst{
    font-size: 30px;
    text-align: left;
    
}
.web_div h3{
    font-size: 24px;
    text-align: left;
    display: none;
}
.web_mostpopular{
    width:100%;
    margin-top: 5%;
    /* text-align: center; */
    /* border:2px solid rgb(141, 45, 45); */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.web_cardrow1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid gray; */
    row-gap: 5vw;
    width:100vw;
}
.web_cardParent1{
    width:100%;
}
.web_cardContainer2{
    display: flex;
   
}
.web_singleCard1{
    /* border:2px solid rgb(141, 45, 45); */
    width:100%;
    row-gap: 3vw;
}
.web_card1{
    width:100%;
}
.web_carddetails{
    width:100%;
}
.web_cardheading , .web_cardname, .web_cardrating , .web_cardprice{
    font-size: 20px;
}
.rowParent{
   
    display: none;
}

.populartopics{
    width:90%;
}
.populartopics div{
    width:16%;
    font-size: 12px;
}
.tablecontainer  h1{
    display: flex;
    justify-content: center;
    align-items: center;
}



.popularInstructor h1{
    width: 100%;
    text-align: center;
}
.card_divouterrow{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border:2px solid red; */
}
.card_divrow{
    width:80%
}
.instructor_review{
    width:90%;
}
.AllWebDevelopment{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AllWebDevelopment h1{
    width:80%;
    /* border:2px solid red; */
    font-size: 20px;
}
.filter_parent{
    width:100%;
    /* border:2px solid red; */
}
.filter_row div .sort , .filter{
    width:100%;
    font-size: 12px;
}
.webcardcontainer{
    /* border:2px solid rgb(109, 103, 103); */
    width:100vw;
    
}
.webcardparent{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5vw;
}
.webcard_row{
    flex-direction: column; 
     display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid rgb(109, 103, 103); */
    width:90%;
    row-gap: 4vw;
}
.webcarddetail{
    /* border:2px solid rgb(198, 190, 190); */
    width:84%;
    justify-content: flex-start;
    align-items: flex-start;
}
.webcarddetail .row1{
    /* border:2px solid rgb(109, 103, 103); */
    width:100%;
    display: flex;
    justify-content: space-between;

}
.webcarddetail .row1 .heading{
    font-size: 20px;
}
.webcarddetail .row1 .price{
    color:blue;
}
.webimg{
   width:100%;
   border:2px solid white;
}
.webimg img{
    /* border: 2px solid gray; */
    width:90%;
}

.webcarddetail .row1 .heading{
    font-size: 15px;
    /* border:2px solid rgb(109, 103, 103); */
}
.price{
    color:blue;
}
.webcardlast{
    justify-content: center;
    align-items: center;
}
 }